button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: #eee;
	color: $color__text;
	font-family: $font__heading;
	font-weight: 400;

	line-height: 1;
	padding: .6em 1em .6em;

	&:hover, &:focus {
		color: $color__text-emphasis;
		background-color: #e2e2e2;
	}

	&:active {
		color: $color__text-emphasis;
		background-color: #ddd;
	}
}