@import "buttons";

@import "fields";

.search-form {
	width: 100%;
	margin-bottom: 35px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

	label {
		flex-grow: 3;

		.search-field {
			height: 100%;
			width: 100%;
		}
	}

	.search-submit {
		flex-grow: 1;
	}
}