// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/
@import "primary/woocommerce";


.site-content {
	padding: 20px;
}

.site-main {
	margin-bottom: 80px;
	padding-bottom: 60px;
	border-bottom: 1px solid #BBB;
}

.content-area {
	max-width: 600px;
	margin: 0 auto;

	.entry-content {
		margin-bottom: 32px;

		p {
			font-size: 18px;
		}

		p:first-child, p.as-first-child {
			font-size: 22px;
			font-family: $font__heading;
			font-style: italic;
		}
	}

	.entry-footer {
		font-style: italic;
		margin-bottom: 60px;

		> span {
			margin-right: 20px;
		}
	}

	.entry-title {
		margin-bottom: 10px;
		line-height: 1.2;
	}

	.entry-subtitle {
		font-weight: 400;
		margin-top:8px;
	}

	.entry-header {
		margin-bottom: 20px;
	}

	.hero-image {
		position: relative;

		img {
			filter: brightness(95%);
		}

		.entry-header {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 30px;
			text-align: left;
			color: white;
			text-shadow: 2px 2px 2px black, 2px 2px 10px black;

			a {
				color: white;
			}
		}
	}
}




